<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 设置框内值 -->
        <input type="text" v-model="msg" value="123456">
        <hr>
        <!-- 设置textarea的值 -->
        <textarea v-model="desc"></textarea>
        <hr>
        <!-- 设置select中的value值, 就是option的value值 -->
        <select v-model="hobbyId">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <hr>
        <!-- 设置checked的value值，也就是checked -->
        <input type="checkbox" v-model="isSingle" checked>是否单身
    </div>

    <script src="./文件/vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                msg: 'hello vue',
                desc : "哈哈",
                hobbyId : 3,
                isSingle : false 
            }
        })
    </script>
</body>
</html>